*{
    font-family: 'Lato', Calibri, Arial;
}
.calculator-inner {
    width: 800px;
    max-width: 100%;
    margin: 100px auto;
}
.calc-slider{
    position: relative;
    margin: 60px auto 40px;
    display: block;
    clear: both;
    background: #e9e9e9;
    height: 13px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding-left: 0;
    padding-right: 0px;
    border: 1px solid #d8d8d8;
}
.calc-slider+.calc-slider{
    margin-top: 120px 
}
.center-label{
    text-align: center;
}
.calc-slider-inner {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #777777;
}
.slider-lable {
    position: absolute;
    bottom: -30px;
    display: inline-block;
    color: #777777;
}
.slider-lable-min {
    left: 0;
}
.slider-lable-max {
    right: 0;
}
.tooltip {
    position: absolute;
    top: 0;
    padding: 10px;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -120%);
    white-space: nowrap;
    background: #00d1d0;
    color: #fff;
    font-size: 19px;
    min-width: 120px;
    font-family: 'Lato';
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}
.tooltip:after {
    content: '';
    border-top-color: #00d1d0;
    padding: 5px;
    width: 0;
    height: 0;
    bottom: -3px;
    transform: rotate(45deg);
    border-width: 8px 5px 0;
    position: absolute;
    left: 0;
    right: 0;
    background: #00d1d0;
    margin: auto;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 19px;
	height: 19px;
	cursor: pointer;
	outline: none;
	top: -6px;
	margin-left: -12px;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
	border-radius: 50%;
}
.ui-slider-range.ui-widget-header{
    background-color: #00d1d0;
    border-radius: 5em;
}
.ui-slider-range{
    position: absolute;
    top: 0;
    height: 100%;
}
.calc-amount-wrapper {
    margin-top: 62px;
    padding: 20px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.calc-amount-div {
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-size: #777;
}

.calc-amount-inner {
    display: flex;
    flex-wrap: wrap;
}

.monthly-amt,
.total-amt {
    color: #00d1d0;
    font-size: 23px;
}

.calc-pay-label p {
    margin: auto;
    margin-bottom: 10px;
}

.calc-pay-label p:last-child {
    margin: auto;
}
